<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width,maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0">
  <title><%=data.title%></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<script>
  function back() {
    window.history.back()
  }
  function callback() {
    alert("请使用PC端下载附件！");
  }
  // window.onload=function(){
  //   var title="<%=data.new_title%>"
  //   document.title=title
  // }
</script>

<body>
  <div class="info-detail">
    <div class="detail-hd">
      <div class="tit">
        <%=data.new_title%>
      </div>
      <div class="info"><i class="dot"></i>来自：<%=data.proName%>
      </div>
      <div class="info"><i class="dot"></i>
        <%=data.new_pub_date%>
      </div>
    </div>
    <div class="detail-bd">
      <div class="cont" id="cont">
        <%-data.new_content-%>
      </div>
      <% data.file.forEach(function(node,index){ %>
      <div class="file" onclick="callback()">
        <img class="icon" src="../icon-file.png" alt=" " />
        <!-- <a href=""> -->
          <%=node.name%>
        <!-- </a> -->
      </div>
      <%})%>
    </div>

    <div class="return-btn" onclick="back()">
      <img class="icon" src="../icon-return.png" alt=" " />
      返回
    </div>
  </div>
</body>

</html>